html {
  --tooltip-top: auto;
  --tooltip-bottom: auto;
  --tooltip-left: auto;
  --tooltip-right: auto;
}

body {
  background: #1c1916;
  color: white;
  font-family: monospace;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-info img {
  height: 36px;
  width: 36px;
  margin: 12px;
}

h2 {
  text-align: center;
}

.fraction {
  font-size: smaller;
}

.ui {
  display: flex;
  flex-direction: row;
}

.attribute-value {
  color: goldenrod;
}

.tabber {
  display: flex;
  flex-direction: column;
}

.tabber-content {
  border: 3px solid #439150;
}

.tabber-tabrow {
  display: flex;
  flex-direction: row;
}

.tabber-tab {
  background: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
  margin: 0.5em;
  margin-bottom: 0;
}

.tabber-tab-active {
  background: #439150;
}

.tabber-tab-inactive {
  background-color: darkslategray;
}

.talent-grid {
  display: grid;
  grid-template-rows: repeat(10, auto) 1fr;
  grid-template-columns: repeat(6, auto) 1fr; /* 5 talent colums + 1 prereqs column */
  align-items: center;
}

.talent-grid > * {
  margin: 10px;
}

.talent-cell {
  padding: 4px;
}

.talent-cell > img {
  background: #3a3630;
  width: 50px;
  height: 50px;
  image-rendering: pixelated;
}

.talent-cell.lo {
  background: darkslategray;
}

.talent-cell.mid {
  background: #a68267;
}

.talent-cell.hi {
  background: #439150;
}

.talent-cell.bad {
  background: darkred;
}

.talent-rank {
  text-align: center;
  font-weight: lighter;
}

.talent-rank-current {
  font-weight: bold;
}

.talent-prereq {
  text-align: right;
  width: 2em;
  margin: 1em;
}

.talent-prereq.ok {
  color: gray;
}
.talent-prereq.locked {
  color: pink;
}

.attribute-panel {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.attribute-panel > .attribute-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a68267;
  padding-bottom: 1em;
}

.attribute-panel > label {
  align-self: end;
}

.attribute-panel summary {
  font-size: 120%;
  font-weight: bold;
  color: #a68267;
  margin: 10px;
}

.attribute-line {
  margin-left: 1em;
  padding: 0.2em;
  display: flex;
  flex-direction: row;
}

.attribute-line-zero {
  color: gray;
}

.attribute-line:nth-child(2n) {
  background-color: #2b2521;
}

.attribute-line-value {
  width: 7em;
  text-align: right;
  white-space: pre;
}

.attribute-line-label {
  width: 15em;
}

button.reset {
  margin: 0.5ex;
  width: 8em;
  font-family: inherit;
  color: inherit;
  background-color: #2b2521;
  border: 3px solid #439150;
}

.tooltip {
  position: fixed;
  color: white;
  background: #1c1916f0;
  border: 3px solid goldenrod;
  min-width: 10em;
  max-width: 30em;
  padding: 1ex;
  top: var(--tooltip-top);
  bottom: var(--tooltip-bottom);
  left: var(--tooltip-left);
  right: var(--tooltip-right);
  display: none;
}

.tooltip header {
  font-size: large;
  font-weight: bold;
  color:goldenrod;
  margin-bottom: 1ex;
}

.tooltip ul {
  margin: 0;
}

.tooltip > div {
  margin: 0.5ex 0;
}

.rank-label {
  font-weight: bolder;
  font-style: italic;
  color: #a68267;
}

div.rank-attribute {
  margin-left: 1em;
}

div.rank-attribute br {
  margin-top: 0.5ex;
}

:hover + .tooltip {
  display: block;
}

.hidden {
  display: none;
}
